<div class="verifying-now">

  <div data-cy="verifying-now-header" class="text-4xl font-semibold text-black">Verifying Now</div>

  <p class="text-xl mt-6">Thank you for joining. We will notify you by email when your account is verified and you can begin
    enjoying TaskEzy.</p>

  <button
    mat-raised-button
    data-cy="go-to-login-button"
    color="primary"
    class="text-xl font-medium w-full m-auto rounded-full mt-18"
    (click)="goToLogin()">
    Go to Log in page
  </button>

</div>
