<div>
  <ng-template #buttonsTemplate>
    <div class="flex flex-row justify-end items-center">
      <div>
        <button
        *ngIf="detailPageCheck"
          mat-stroked-button
          color="primary"
          class="rounded-[33px] mr-2 text-white"
          (click)="isCancelEdit()"
        >
          Back
        </button>

        <button
        *ngIf="detailPageCheck"
          mat-stroked-button
          color="primary"
          class="add-venue-button rounded-[33px] text-white"
          id="save-details-button"
          data-cy="save-details-button"
          (click)="saveDetails()"
        >
          Save
        </button>
      </div>
    </div>
    <div
      class="absolute right-2 top-2"
      (click)="toClose()">
      <mat-icon class="text-white cursor-pointer">close</mat-icon>
    </div>
  </ng-template>
</div>
