<div id="flex flex-col flex-auto min-w-0">
  <!--Header-->
  <div
    class="header accent p-20 p-sm-24"
    fxLayout="column"
    fxLayoutAlign="start"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center"
  >
    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <div class="logo-icon">
          <mat-icon class="logo-icon mr-16"> view_quilt </mat-icon>
        </div>
        <span class="logo-text h1"> Suppliers </span>
      </div>
    </div>
    <!-- / APP TITLE -->
  </div>
  <!--/Header-->

  <!--Content-->

  <div class="content">
    <mat-tab-group>
      <mat-tab label="Request Connection">
        <div
          class="notification"
          [ngClass]="{ error: classError }"
          *ngIf="message"
        >
          <div>{{ message }}</div>
          <mat-icon (click)="closeMessage()">close</mat-icon>
        </div>
        <mat-form-field class="search" appearance="fill">
          <input
            matInput
            placeholder="Search Suppliers"
            autocomplete="on"
            [formControl]="searchSuppliers"
            (input)="searchingSuppliers(searchSuppliers.value)"
          />
          <mat-icon>search</mat-icon>
        </mat-form-field>
        <app-found-supplier
          *ngIf="foundSuppliers !== []"
          [suppliers]="foundSuppliers"
          (sendConnectionRequests)="sendConnectionRequests($event)"
        ></app-found-supplier>
      </mat-tab>

      <mat-tab label="Sent Connection Requests">
        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <!-- Number Column -->
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                №
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index">{{
                index + 1
              }}</mat-cell>
            </ng-container>

            <!-- identifier Column -->
            <ng-container matColumnDef="identifier">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Identifier</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.identifier }}</mat-cell>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <!-- tradingname Column -->
            <ng-container matColumnDef="tradingname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Trading Name</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.tradingname }}</mat-cell>
            </ng-container>

            <!-- ABN Column -->
            <ng-container matColumnDef="abn">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                ABN</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.abn }}</mat-cell>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                State</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.state }}</mat-cell>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Address</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.address }}</mat-cell>
            </ng-container>

            <!-- Connection Status Column -->
            <ng-container matColumnDef="connectionStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Connection status</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{
                row.connectionStatus
              }}</mat-cell>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="button">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              ></mat-header-cell>
              <mat-cell class="buttons-supplier" *matCellDef="let row">
                <div>
                  <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="cancelConnectionRequest(row)"
                    class="cancel-button"
                    aria-label="cancel client"
                  >
                    Cancel
                  </button>
                  <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="resendSupplier(row)"
                    class="resend-button"
                    aria-label="create supplier"
                  >
                    Resend
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              class="hover:bg-gray-100"
              *matRowDef="let row; columns: displayedColumns; let index = index"
            >
            </mat-row>
          </mat-table>
          <p class="total">
            Total Requests: {{ dataSource.filteredData.length }}
          </p>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </mat-tab>

      <mat-tab label="Received Connection Requests">
        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="dataReceived" matSort>
            <!-- Number Column -->
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                №
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index">{{
                index + 1
              }}</mat-cell>
            </ng-container>

            <!-- identifier Column -->
            <ng-container matColumnDef="identifier">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Identifier</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.identifier }}</mat-cell>
            </ng-container>
            3
            <!-- name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <!-- tradingname Column -->
            <ng-container matColumnDef="tradingname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Trading Name</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.tradingname }}</mat-cell>
            </ng-container>

            <!-- ABN Column -->
            <ng-container matColumnDef="abn">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                ABN</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.abn }}</mat-cell>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                State</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.state }}</mat-cell>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="button">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              ></mat-header-cell>
              <mat-cell class="buttons-supplier" *matCellDef="let row">
                <div>
                  <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="rejectReceived(row)"
                    class="cancel-button"
                    aria-label="cancel client"
                  >
                    Reject
                  </button>
                  <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="acceptSupplier(row)"
                    class="resend-button"
                    aria-label="create supplier"
                  >
                    Accept
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumnsReceived"
            ></mat-header-row>
            <mat-row
              class="hover:bg-gray-100"
              *matRowDef="
                let row;
                columns: displayedColumnsReceived;
                let index = index
              "
            >
            </mat-row>
          </mat-table>
          <p class="total">
            Total Requests: {{ dataReceived.filteredData.length }}
          </p>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!--Content-->
</div>
