<div class="flex flex-col flex-auto min-w-0">
  <!--Header-->
  <div
    class="header accent p-20 p-sm-24"
    fxLayout="column"
    fxLayoutAlign="start"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center"
  >
    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <div class="logo-icon">
          <div class="logo-icon mr-16">
            <mat-icon>people</mat-icon>
          </div>
        </div>
        <span class="logo-text h1"> > Clients </span>
      </div>
    </div>
    <!-- / APP TITLE -->
  </div>
  <!--/Header-->

  <!--Content-->
  <div class="content">
    <mat-tab-group>
      <mat-tab label="Request Connection">
        <div
          class="notification"
          [ngClass]="{ error: classError }"
          *ngIf="message"
        >
          <div>{{ message }}</div>
          <mat-icon (click)="closeMessage()">close</mat-icon>
        </div>
        <mat-form-field class="search" appearance="fill">
          <input
            matInput
            placeholder="Search Clients"
            [formControl]="searchClients"
            (input)="searchingClients(searchClients.value)"
          />
          <mat-icon>search</mat-icon>
        </mat-form-field>
        <app-found-users
          *ngIf="foundUsers !== []"
          [suppliers]="foundUsers"
          (sendConnectionRequests)="sendConnectionRequests($event)"
        ></app-found-users>
      </mat-tab>
      <mat-tab label="Sent Connection Requests">
        <div class="table">
          <mat-table [dataSource]="dataSource" matSort>
            <!-- Number Column -->
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                №
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index">
                {{ index + 1 }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="identifier">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Identifier</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.identifier }} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="tradingname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Trading Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.tradingname }} </mat-cell>
            </ng-container>

            <!-- Compliance Column -->
            <ng-container matColumnDef="abn">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                ABN</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.abn }} </mat-cell>
            </ng-container>

            <!-- Supplier Column -->
            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                State</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.state }} </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="connectionStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Status Connection</mat-header-cell
              >
              <mat-cell *matCellDef="let row">
                {{ row.connectionStatus }}
              </mat-cell>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="button">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              ></mat-header-cell>
              <mat-cell class="buttons-supplier" *matCellDef="let row">
                <div>
                  <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="cancelConnectionRequest(row)"
                    class="cancel-button"
                    aria-label="cancel client"
                  >
                    Cancel
                  </button>
                  <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    (click)="resendSupplier(row)"
                    class="resend-button"
                    aria-label="create supplier"
                  >
                    Resend
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              class="hover:bg-gray-100"
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </mat-tab>

      <mat-tab label="Received Connection Requests">
        <div class="table">
          <mat-table [dataSource]="dataReceived" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                №
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let index = index">
                {{ index + 1 }}
              </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="identifier">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Identifier</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.identifier }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="tradingname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Trading Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.tradingname }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="abn">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                ABN</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let row">
                {{ row.abn }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                State</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.state }} </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumnsReceived"
            ></mat-header-row>
            <mat-row
              class="hover:bg-gray-100"
              *matRowDef="let row; columns: displayedColumnsReceived"
            ></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!--Content-->
</div>
