<div class="flex flex-col w-full border-2 border-blue-400 border-dotted p-14 text-center">

  <button color="primary" class="w-40 save-button m-auto rounded-full"
          mat-raised-button>
    Paste URL
  </button>

  <span class="text-gray-400 mt-4">paste URL</span>
<!--  <input type="file"-->
<!--         #file-->
<!--         [multiple]="false"-->
<!--         (change)="onFileChange($event)"-->
<!--         style="display:none"/>-->

<!--  <span class="text-gray-400 mt-4">Maximum upload file size: 25 MB</span>-->

</div>
