<div class="search-by" data-cy="search-by">
  <mat-toolbar class="mat-accent m-0 h-[95px] bg-primary">
    <mat-toolbar-row class="flex justify-between">
      <div class="header-search text-3xl mt-6 font-semibold">
        Select Resources
      </div>

      <div class="text-xs">
        <button
          class="close"
          mat-icon-button
          mat-dialog-close
          aria-label="Close dialog"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content *ngIf="shift">
    <div class="p-6">
      <p class="w-full text-sm text-zinc-400 font-medium">
        Choose to have the resource requirements filled by selecting Resources
        individually or filled by your Suppliers
      </p>

      <div
        class="shift-details mt-8 p-4 bg-gray-100 rounded-[5px] max-w-[839.57px]"
      >
        <p class="text-primary text-lg">Shift Details</p>

        <div class="details-blocks flex justify-between">
          <div class="w-1/2 flex flex-col">
            <div class="flex flex-row">
              <p class="text-zinc-400 w-1/3 text-base font-semibold">
                Day & time
              </p>
              <p class="w-2/3" *ngIf="shift?.startDatetime">
                {{ shift?.startDatetime | date: "yyyy-MM-dd HH:mm" }}
              </p>
              <p class="w-2/3" *ngIf="!shift.startDatetime">
                ---No Start Set---
              </p>
            </div>

            <div class="flex flex-row">
              <p class="text-zinc-400 w-1/3 text-base font-semibold">Client</p>
              <p class="w-2/3">{{ shift?.client?.detail?.name }}</p>
            </div>

            <div class="flex flex-row">
              <p class="text-zinc-400 w-1/3 text-base font-semibold">Venue</p>
              <p class="w-2/3">
                <span class="font-semibold">{{ shift?.venue?.name }}</span
                >, {{ shift?.venue?.address?.street_location }}
              </p>
            </div>
          </div>

          <div class="flex flex-col w-1/2">
            <div class="flex">
              <p class="text-zinc-400 w-1/3 text-base font-semibold">Role</p>
              <p *ngIf="role.name">{{ role?.name }}</p>
              <p *ngIf="!role.name">---No Role Set---</p>
            </div>
            <div class="flex">
              <p class="text-zinc-400 w-1/3 text-base font-semibold">
                Required #
              </p>
              <p>{{ number }}</p>
            </div>

            <!-- <div class="flex">
            <p class="text-zinc-400 w-[150px] text-base font-semibold">Charge Rate</p>
            <p>{{shift?.resource?.charge_rate | currency}}</p>
          </div> -->
          </div>
        </div>
      </div>

      <div class="user-choice mt-5 mb-5 flex justify-between w-50">
        <div
          class="tab cursor-pointer text-lg font-medium"
          [ngClass]="{
            'text-gray-300': !viewResources,
            'text-primary border-b border-solid border-primary': viewResources
          }"
          (click)="toggleResources()"
          data-cy="resources-header-label"
        >
          Resources
        </div>
        <div
          class="tab cursor-pointer text-lg font-medium"
          [ngClass]="{
            'text-gray-300': viewResources,
            'text-primary border-b border-solid border-primary': !viewResources
          }"
          (click)="toggleResources()"
          data-cy="suppliers-header-label"
        >
          Suppliers
        </div>
      </div>

      <div class="search flex items-center">
        <mat-form-field
          class="w-full fuse-mat-no-subscript"
          data-cy="search-box-field"
        >
          <input
            matInput
            [formControl]="searchUsers"
            (input)="onSearch()"
            placeholder="Search"
            data-cy="search-box-input"
          />
          <mat-icon matSuffix class="text-gray-400" data-cy="search-box-icon"
            >search</mat-icon
          >
        </mat-form-field>
      </div>

      <div class="selected-options p-3 bg-gray-100 mt-5 flex justify-between">
        <div class="text-base font-semibold">Required: {{ number }}</div>
        <div class="text-base font-semibold">
          Total Selected:
          {{ viewResources ? selectedResources.length : countSuppliers() }}
        </div>
        <!-- <div *ngIf="viewResources">
          <mat-checkbox [color]="'primary'">Show Expired</mat-checkbox>
        </div> -->
      </div>

      <div class="table-users mt-5 w-full" data-cy="viewResource-table-outter">
        <div *ngIf="viewResources" data-cy="viewResource-table">
          <mtx-grid
            [data]="resourcesDisplayed"
            [columns]="resourceDisplayedColumns"
            [multiSelectable]="true"
            [pageOnFront]="false"
            [showPaginator]="false"
            [sortOnFront]="true"
            sortActive="resource.name"
            sortDirection="asc"
            [sortDisableClear]="true"
            [sortDisabled]="false"
            sortStart="asc"
            [expandable]="true"
            [expansionTemplate]="resourceExpansionTpl"
            [hideRowSelectionCheckbox]="false"
            [rowHover]="true"
            [rowStriped]="true"
            [rowSelectable]="true"
            [rowSelected]="selectedResources"
            (rowSelectionChange)="selectResources($event)"
            [cellTemplate]="{
              resourceName: resourceNameTpl,
              suppliedBy: supplierNameTpl,
              resourceRating: resourceRate
            }"
            data-cy="viewResource-table-grid"
          >
          </mtx-grid>
        </div>

        <div *ngIf="!viewResources">
          <mtx-grid
            [data]="suppliersDisplayed"
            [columns]="supplierDisplayedColumns"
            [multiSelectable]="false"
            [pageOnFront]="false"
            [showPaginator]="false"
            [sortOnFront]="true"
            sortActive="supplier.detail.name"
            sortDirection="asc"
            [sortDisableClear]="true"
            [sortDisabled]="false"
            sortStart="asc"
            [hideRowSelectionCheckbox]="false"
            [rowHover]="true"
            [rowStriped]="true"
            [rowSelectable]="true"
            [rowSelected]="selectedSuppliers"
            (rowSelectionChange)="selectSuppliers($event)"
            [cellTemplate]="{
              supplierName: supplierNameTpl,
              number: supplierNumInputTpl
            }"
          >
          </mtx-grid>
        </div>
        <!--        <tr *ngIf="clickedUser?.viewDetail">-->
        <!--          -->
        <!--        </tr>-->
        <!--      </table>-->
      </div>

      <div class="buttons flex mt-8 justify-start">
        <button
          mat-raised-button
          type="submit"
          mat-dialog-close
          class="save-button w-[200px] mr-2"
          aria-label="saver"
          data-cy="cancel-button"
        >
          <span>Cancel</span>
        </button>

        <button
          mat-raised-button
          mat-dialog-close
          data-cy="select-button"
          color="primary"
          [disabled]="!selectedResources.length && !selectedSuppliers.length"
          (click)="select()"
          class="search-button w-[200px]"
          aria-label="search"
        >
          <span>Select</span>
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>

<ng-template #resourceNameTpl let-row let-index="index" let-col="colDef">
  <div class="flex flex-row items-center">
    <div
      style="width: 50px; height: 50px"
      class="rounded-3xl bg-white border border-solid border-gray-400"
    >
      <img [src]="row.resource.avatar || defaultAvatar" />
    </div>
    <div class="pl-2 capitalize whitespace-normal">
      {{ row.resource.name }}
    </div>
  </div>
</ng-template>

<ng-template #resourceRate let-row let-index="index" let-col="colDef">
  <div data-cy="icon-star" class="flex flex-row items-center">
    <mat-icon class="text-amber-500">grade</mat-icon>
    <span>{{ getRate(row.resource) }}</span>
  </div>
</ng-template>

<ng-template
  #supplierNumInputTpl
  let-row
  let-index="index"
  let-col="colDef"
  data-cy="supplier-order-number-template"
>
  <mat-form-field
    class="fuse-mat-no-subscript"
    data-cy="supplier-order-number-field"
  >
    <input
      matInput
      [(ngModel)]="row.number"
      (change)="changeSupplierNumber(index, row)"
      min="0"
      type="number"
      data-cy="supplier-order-number-input"
    />
  </mat-form-field>
</ng-template>

<ng-template #supplierNameTpl let-row let-index="index" let-col="colDef">
  <div class="flex flex-row items-center">
    <div
      style="width: 50px; height: 50px"
      class="rounded-full flex items-center overflow-hidden bg-white border border-solid border-gray-400"
    >
      <img [src]="row?.detail?.logo || row?.supplier?.logo || defaultAvatar" />
    </div>
    <div class="pl-2 capitalize whitespace-normal">
      {{ row?.detail?.name || row?.supplier.name }}
    </div>
  </div>
</ng-template>

<ng-template #resourceExpansionTpl let-row>
  <div
    data-cy="expansion-accreditation"
    class="detail-table p-4 flex flex-row w-1/2 justify-between"
    *ngFor="let accreditation of row?.resource?.formdata"
  >
    <div class="flex flex-col">
      <span data-cy="accred-type" class="text-sm font-medium text-zinc-400">{{
        accreditation?.type
      }}</span>
      <span
        data-cy="accred-tags"
        class="font-medium"
        *ngFor="let tag of accreditation?.tags"
        >{{ tag }}</span
      >
    </div>
    <div class="flex flex-col">
      <span class="text-sm font-medium text-zinc-400">Date</span>
      <span class="font-medium">{{
        accreditation?.creation_date_time | date: "short"
      }}</span>
    </div>
  </div>
</ng-template>
