<div class="rates">
  <div class="text-2xl font-bold mb-4">Charge Rates and Statistics</div>
  <div class="table w-full">
    <mat-table class="w-full" [dataSource]="dataSource">
      <!-- Venue Column -->
      <ng-container matColumnDef="venue">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Venue</mat-header-cell
        >
        <mat-cell mat-cell *matCellDef="let row">
          {{ row.venue }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="week">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >This week</mat-header-cell
        >
        <mat-cell mat-cell *matCellDef="let row">
          {{ row.week }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="month">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Month to date
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
          {{ row.month }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="year">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Year to date</mat-header-cell
        >
        <mat-cell mat-cell *matCellDef="let row">
          {{ row.year }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="hover:bg-gray-100 bg-gray-200 p-2 mb-2 rounded-xl"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      >
      </mat-row>
    </mat-table>
  </div>
</div>
