<div class="bg-white p-8 rounded-3xl">
  <div class="user-invitations" *ngIf="invitations?.length">
    <div class="font-medium text-base">
      You have {{ invitations?.length }} connections:
    </div>
    <div
      class="invite flex flex-auto justify-between items-center p-2 border-b border-zinc-300"
      data-cy="invite"
      *ngFor="let invite of invitations"
    >
      <div class="flex flex-row flex-auto items-center justify-between mr-2">
        <div class="account-name">
          <p class="mat-body-strong">
            {{
              invite?.account_detail?.tradingname ||
                invite?.account_detail?.name ||
                invite?.sub_account_detail?.tradingname ||
                invite?.sub_account_detail?.name
            }}
          </p>
          <!--          <p class="mat-caption">{{ utils.getRole(invite.role) }}</p>-->
        </div>
        <div class="date-invited">
          {{ invite.date_invited | date: "shortDate" }}
        </div>
      </div>
      <div class="w-1/3" *ngIf="invite.status == 1">
        <button
          mat-button
          color="primary"
          class="ml-2"
          (click)="acceptInvite(invite)"
        >
          Accept
          <mat-spinner
            [diameter]="20"
            color="primary"
            *ngIf="invite.spinner"
          ></mat-spinner>
        </button>
        <button
          mat-button
          color="warn"
          class="ml-2"
          (click)="declineInvite(invite)"
        >
          Decline
          <mat-spinner
            [diameter]="20"
            color="warn"
            *ngIf="invite.spinner"
          ></mat-spinner>
        </button>
      </div>
      <!-- Need to Check with Nick -->
      <div class="w-1/3" *ngIf="invite.status == 4">
        Authority is being Verified
      </div>
      <div class="w-1/3" *ngIf="invite.status == 5">
        Authority has been Declined
      </div>
      <div class="w-1/3" *ngIf="invite.status == 6">
        Authority has been Verified. Please Confirm
        <button
          mat-button
          color="primary"
          class="ml-2"
          (click)="confirmInvite(invite)"
        >
          Confirm
          <mat-spinner
            [diameter]="20"
            color="primary"
            *ngIf="invite.spinner"
          ></mat-spinner>
        </button>
      </div>
      <div class="w-1/3" *ngIf="invite.status == 7">
        You declined this Invite
      </div>
    </div>
  </div>
</div>
