<div>
  <mat-toolbar class="mat-accent bg-primary h-[74px] m-0">
    <mat-toolbar-row class="flex justify-between">
      <div class="header-shift text-3xl font-semibold">Filters</div>

      <div>
        <button mat-icon-button (click)="close()" aria-label="Close dialog">
          <mat-icon class="font-light">close</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <form class="p-6" action="" [formGroup]="filtersForm">
    <div class="venue flex items-center">
      <div class="flex w-20 flex-col justify-start">Venue</div>
      <mat-form-field class="w-[290px]" appearance="fill">
        <mat-label>All venues</mat-label>
        <mat-select
          placeholder="All venues"
          formControlName="venue"
          [multiple]="true"
          #multiSelect
          (selectionChange)="onChangeFilter('venue', $event)"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="Nothing found"
              formControlName="searchVenue"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let venue of filteredVenuesMulti | async"
            [value]="venue?.uuid || venue?.venue?.uuid"
            >{{ venue?.name || venue?.venue?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="client flex items-center">
      <div class="flex w-20 flex-col justify-start">Client</div>
      <mat-form-field class="w-[290px]" appearance="fill">
        <mat-label>All clients</mat-label>
        <mat-select
          placeholder="All clients"
          formControlName="client"
          [multiple]="true"
          (selectionChange)="onChangeFilter('client', $event)"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="Nothing found"
              formControlName="searchClient"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let client of filteredClientsMulti | async"
            [value]="client?.uuid"
            >{{ client?.detail?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="supplier flex items-center">
      <div class="flex w-20 flex-col justify-start">Supplier</div>
      <mat-form-field class="w-[290px]" appearance="fill">
        <mat-label>All suppliers</mat-label>
        <mat-select
          placeholder="All suppliers"
          formControlName="supplier"
          [multiple]="true"
          #multiSelect
          (selectionChange)="onChangeFilter('supplier', $event)"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="Nothing found"
              formControlName="searchSupplier"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let supplier of filteredSuppliersMulti | async"
            [value]="supplier?.uuid"
            >{{ supplier?.detail?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="resource flex items-center">
      <div class="flex w-20 flex-col justify-start">Resource</div>
      <mat-form-field class="w-[290px]" appearance="fill">
        <mat-label>All resources</mat-label>
        <mat-select
          placeholder="All resources"
          formControlName="resource"
          [multiple]="true"
          (selectionChange)="onChangeFilter('resource', $event)"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="Nothing found"
              formControlName="searchResource"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let resource of filteredResourcesMulti | async"
            [value]="resource?.user_id"
            >{{ resource?.detail?.name || resource?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="status flex items-center">
      <div class="flex w-20 flex-col justify-start">Status</div>
      <mat-form-field class="w-[290px]" appearance="fill">
        <mat-label>All statuses</mat-label>
        <mat-select
          placeholder="All statuses"
          formControlName="status"
          [multiple]="true"
          (selectionChange)="onChangeFilter('status', $event)"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="Nothing found"
              formControlName="searchStatus"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let status of filteredStatusMulti | async"
            [value]="status"
          >
            <span>{{ status }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--    <mat-checkbox formControlName="viewDraft" (change)="changeView($event, 'viewDraft')" color="primary" class="mt-3">Draft</mat-checkbox>-->

    <div class="buttons w-full mt-3 flex justify-between">
      <button
        mat-stroked-button
        color="primary"
        (click)="resetFilters()"
        class="reset-button w-[200px]"
        aria-label="reset"
      >
        <span>Reset</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="applyFilters()"
        class="apply-button w-[200px]"
        aria-label="apply"
      >
        <span>Apply</span>
      </button>
    </div>
  </form>
</div>
